4. Recontact.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        848
      ],
      "id": "fbe96006-268f-4ddb-b521-6764b8e6f733",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "limit": {},
        "options": {
          "where": "(Statut,eq,Mail envoyé)~or(Statut,eq,Relance 1 envoyée)"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -448,
        848
      ],
      "id": "add3d346-df41-4b69-a535-29b3ff18bcc8",
      "name": "Fetch Leads",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Statut }}",
                    "rightValue": "Mail envoyé",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "07c84705-3245-42e0-a3a0-1347c7159df6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1st follow-up"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "81313210-4d14-43fe-a4a5-061153757fc3",
                    "leftValue": "={{ $json.Statut }}",
                    "rightValue": "Relance 1 envoyée",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2nd follow-up"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        0,
        96
      ],
      "id": "fd573d9f-a869-4e9e-93e3-0e88fd874a1d",
      "name": "Route Follow-ups"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=PROSPECT DATA:\nFirst Name: {{ $json[\"First Name\"] }}\nCompany: {{ $json[\"Company Name\"] }}\n\nHere is the STRICT TEMPLATE you must fill:\n\nHi [First Name],\n\nI am closing this here so as not to insist.\n\nIf response speed becomes a priority at [Company], I will share the video with you.\n\nBest regards,\n\n[YOUR NAME]\n\nOUTPUT FORMAT:\nReturn only a strictly valid JSON object with this exact structure:\n\n{\n\"email_subject\": \"\", \n\"email_body\": \"Hi {{ $json['First Name'] }},\\n\\nI am closing this here so as not to insist.\\n\\nIf response speed becomes a priority at {{ $json['Company Name'] }}, I will share the video with you.\\n\\nBest regards,\\n\\n[YOUR NAME]\"\n}\n\nIMPORTANT: \n- Strictly respect the line breaks with \\n.\n- Return ONLY the JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "You are an elite B2B Consultant. You must write the final follow-up email (Break-up) using a STRICT template. ABSOLUTE RULES: 1. You must respect the provided template structure word for word. No extra sentences. 2. You must insert the real first name and the real company. 3. Use formal language (vouvoiement).",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        288
      ],
      "id": "6b125d35-7fcb-452a-8769-4ba2194c52ce",
      "name": "Write Follow-up 2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=PROSPECT DATA:\nFirst Name: {{ $json[\"First Name\"] }}\nCompany: {{ $json[\"Company Name\"] }}\nFactual site observation: {{ $json[\"Observation factuelle\"] }}\n\nHere is the STRICT TEMPLATE you must fill:\n\nHi [First Name],\n\nQuick question:\n\nIf a prospect fills out \"[Button Name]\" today at 2:02 PM...\nHow many minutes go by before they speak to someone from [Company]?\n\n[YOUR NAME]\n\nOUTPUT FORMAT:\nReturn only a strictly valid JSON object with this exact structure:\n\n{\n\"email_subject\": \"\", \n\"email_body\": \"Hi {{ $json['First Name'] }},\\n\\nQuick question:\\n\\nIf a prospect fills out \\\"[Cleaned button name]\\\" today at 2:02 PM...\\nHow many minutes go by before they speak to someone from {{ $json['Company Name'] }}?\\n\\n[YOUR NAME]\"\n}\n\nIMPORTANT: \n- Strictly respect the line breaks with \\n.\n- Make sure to replace [Cleaned button name] with your deduction (without adjectives).\n- Return ONLY the JSON."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "systemMessage": "You are an elite B2B Consultant. You must write a follow-up (Day+3) using a STRICT template. YOUR ONLY REAL AI JOB: Analyze the \"Factual site observation\" to extract ONLY the clickable text from the button (e.g., \"Request a demo\", \"Contact\", \"Book a meeting\"). ANTI-GOOFY RULE: NEVER keep visual descriptions (big, red, top, etc.). Just the button words. ABSOLUTE RULES: 1. Respect the template word for word. Do not add any extra polite formulas. 2. You must insert the first name, the company, and the cleaned button name. 3. Use formal language (vouvoiement).",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "8f24402f-c84f-4073-8290-f987225a102b",
      "name": "Write Follow-up 1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Loop').item.json.Id }}"
            },
            {
              "fieldName": "Statut",
              "fieldValue": "Relance 2 prête"
            },
            {
              "fieldName": "Mail relance 2",
              "fieldValue": "={{ $json.email_data.email_body }}"
            },
            {
              "fieldName": "Objet relance 2",
              "fieldValue": "=Re: {{ $('Loop').item.json[\"Objet d'outreach\"] }}"
            },
            {
              "fieldName": "Date Dernier Message",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1248,
        608
      ],
      "id": "934bd2c4-3686-4b84-8fd6-4a0257056ee1",
      "name": "Update CRM 2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Loop').item.json.Id }}"
            },
            {
              "fieldName": "Statut",
              "fieldValue": "Relance 1 prête"
            },
            {
              "fieldName": "Mail relance 1",
              "fieldValue": "={{ $json.email_data.email_body }}"
            },
            {
              "fieldName": "Objet relance 1",
              "fieldValue": "=Re: {{ $('Loop').item.json[\"Objet d'outreach\"] }}"
            },
            {
              "fieldName": "Date Dernier Message",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1248,
        176
      ],
      "id": "78775eb9-4b04-4568-b00c-3ccf7a4a6fec",
      "name": "Update CRM 1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (let item of $input.all()) {\n  let rawText = item.json?.content?.parts?.[0]?.text || item.json.text || item.json.message?.content || \"{}\";\n  let cleanText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  try {\n    item.json.email_data = JSON.parse(cleanText);\n  } catch (error) {\n    item.json.email_data = { email_subject: \"\", email_body: \"AI Error\" };\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "1766d331-0c45-45ac-9d27-50992b7642fc",
      "name": "Parse AI Response 1"
    },
    {
      "parameters": {
        "jsCode": "for (let item of $input.all()) {\n  let rawText = item.json?.content?.parts?.[0]?.text || item.json.text || item.json.message?.content || \"{}\";\n  let cleanText = rawText.replace(/```json/gi, '').replace(/```/g, '').trim();\n  try {\n    item.json.email_data = JSON.parse(cleanText);\n  } catch (error) {\n    item.json.email_data = { email_subject: \"\", email_body: \"AI Error\" };\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        288
      ],
      "id": "d5a44b24-ff55-4492-b040-8c3be6fe0aa3",
      "name": "Parse AI Response 2"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Loop').item.json.Id }}"
            },
            {
              "fieldName": "Statut",
              "fieldValue": "Erreur IA Relance"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1248,
        368
      ],
      "id": "74ba39d8-efbf-4d40-99c3-f15b1d2a480d",
      "name": "Update Error Follow-up 1",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Id",
              "fieldValue": "={{ $('Loop').item.json.Id }}"
            },
            {
              "fieldName": "Statut",
              "fieldValue": "Erreur IA Relance"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        1248,
        800
      ],
      "id": "a8db8685-50df-4fcb-890c-63d366e2cde2",
      "name": "Update Error Follow-up 2",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "316728d4-17b5-4ea0-aa9c-cb9375352662",
              "leftValue": "{{ $json.email_data.email_body }}",
              "rightValue": "AI Error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        288
      ],
      "id": "70b46d01-a2c6-41e7-a7ca-8701f3a1e4a3",
      "name": "Check Error 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "316728d4-17b5-4ea0-aa9c-cb9375352662",
              "leftValue": "{{ $json.email_data.email_body }}",
              "rightValue": "AI Error",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        0
      ],
      "id": "4a42d609-cb82-4ced-95df-ec478d0a2dde",
      "name": "Check Error 1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        848
      ],
      "id": "805fa9f3-f883-451c-a287-22bb44238cdc",
      "name": "Loop"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2965a669-5f17-4a56-94e5-9db97736334c",
              "leftValue": "={{ $json[\"Date d'envoi du 1er cold email\"] }}",
              "rightValue": "={{ $now.minus({days: 3}).endOf('day').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        0
      ],
      "id": "5c4005d9-69dc-4a96-bca3-64f381021e87",
      "name": "Filter Send Date 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2965a669-5f17-4a56-94e5-9db97736334c",
              "leftValue": "={{ $json[\"Date d'envoi du 1er cold email\"] }}",
              "rightValue": "={{ $now.minus({days: 7}).endOf('day').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        288
      ],
      "id": "94c13b82-d765-453f-97c6-f28d08281b4b",
      "name": "Filter Send Date 2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Follow-ups": {
      "main": [
        [
          {
            "node": "Filter Send Date 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Send Date 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Follow-up 2": {
      "main": [
        [
          {
            "node": "Parse AI Response 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Follow-up 1": {
      "main": [
        [
          {
            "node": "Parse AI Response 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM 2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update CRM 1": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response 1": {
      "main": [
        [
          {
            "node": "Check Error 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response 2": {
      "main": [
        [
          {
            "node": "Check Error 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error Follow-up 1": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error Follow-up 2": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error 2": {
      "main": [
        [
          {
            "node": "Update CRM 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error Follow-up 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error 1": {
      "main": [
        [
          {
            "node": "Update CRM 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error Follow-up 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Route Follow-ups",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter Send Date 1": {
      "main": [
        [
          {
            "node": "Write Follow-up 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Send Date 2": {
      "main": [
        [
          {
            "node": "Write Follow-up 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a112fddf3ffd3951af3f038489902a0932fdd00ab2603bd8286c6079838b242c"
  }
}