7. Ghosting Listeners.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        128
      ],
      "id": "f1492c5a-8661-4c6a-b35d-224ebb77f957",
      "name": "Every Day 9:00"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "Statut",
              "fieldValue": "Ghost à relancer"
            },
            {
              "fieldName": "Id",
              "fieldValue": "={{ $json.Id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        896,
        -80
      ],
      "id": "a7a586d4-ee78-40b9-a1ed-381c21c9717d",
      "name": "Status Ghost to Follow-up",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f9dc940a-f220-429d-8c03-44797c569e86",
              "leftValue": "={{ $json['Date Dernier Message'] }}",
              "rightValue": "={{ $today.minus({'days': 3}) }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -96
      ],
      "id": "8c281dac-3729-4a11-b41f-23798784515e",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        128
      ],
      "id": "73e1561a-2e88-46bb-8dd2-44dea809745a",
      "name": "Do Nothing"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "YOUR_PROJECT_ID",
        "table": "YOUR_TABLE_ID",
        "limit": null,
        "options": {
          "fields": [],
          "where": "=(Statut,eq,Vidéo envoyée)~and~(Date_Dernier_Message,lt,{{ $today.minus({days: 3}).toFormat('YYYY-MM-DD') }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        224,
        128
      ],
      "id": "a7ed7746-f3b8-43b2-a535-e3b9de03b9a9",
      "name": "Fetch Leads",
      "credentials": {
        "nocoDbApiToken": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        128
      ],
      "id": "12831768-e863-4eaf-8cab-84be4d8c693e",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "Every Day 9:00": {
      "main": [
        [
          {
            "node": "Fetch Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Ghost to Follow-up": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Status Ghost to Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a112fddf3ffd3951af3f038489902a0932fdd00ab2603bd8286c6079838b242c"
  }
}